& {
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  .wrapper::before {
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(top,  $color1 0%, $color0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $color1 0%,$color0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $color1 0%,$color0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a3a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .wrapper {
    background: url('../images/background--tablet--landscape.png') no-repeat 0 0 transparent;
    background-size: cover;
    position: relative;
    padding: 20% 0 10%;
    text-align: center;
    height: 100%;
  }

  header {
    display: inline-block;
  }

  .logo--link {
    display: inline-block;
    background: url('../images/logo.png') no-repeat 0 0 transparent;
    background-size: cover;
    height: px(176);
    width: px(164);
  }

  nav {
  margin-top: px(151);
  }

  input {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: px(19);
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: px(47);
    border: 0;
    outline: none;
    line-height: px(80);
    width: px(475);
  }

  .type--username {
    padding-left: px(103);
    background: url('../images/icon--username.png') no-repeat px(31) px(25) transparent,  rgba(255, 255, 255, 0.1);
    background-size: px(32) px(32);
    font-family: 'Montserrat', sans-serif;
  }

  .type--password {
    margin-top: px(26);
    padding-left: px(103);
    background: url('../images/icon--password.png') no-repeat px(32) px(20) transparent,  rgba(255, 255, 255, 0.1);
    background-size: px(29) px(37);
    font-family: 'Montserrat', sans-serif;
  }

  .menu--button {
    margin-top: px(25);
    text-align: center;
    font-weight: 700;
    background: $color2;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: px(19);
    font-weight: 700;
    text-align: center;
  }

  footer {
    display: inline-block;
    width: px(474);
  }

  .footer--link {
    display: inline-block;
    float: left;
    margin-top: px(47);
    color: rgba(255, 255, 255, .5);
    font-family: 'Montserrat', sans-serif;
    font-size: px(19);
  }

  .help {
    float: right;
  }



}
