& {
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  .wrapper {

  background: #ff6a3a; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff6a3a 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff6a3a 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff6a3a 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a3a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */



  padding: 0 42px 49px 42px;
  height: 100%;
}

  header {
    height: 694px;
  }

  nav {
    text-align: center;
  }

  nav
  form {
    margin: 0 auto;
  }

  input {
    color: rgba(255, 255, 255, 0.5);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 47px;
    padding-left: 103px;
    line-height: 94px;
    width: px(555);
  }

  .menu--button {
    text-align: center;
    font-weight: 700;
    background: #f96332;
  }

  .footer--link {
    display: inline-block;
    float: left;
    margin-top: 47px;
    color: rgba(255, 255, 255, .5);
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
  }

  .footer--link--help {
    float: right;
  }
}
