.offline1 {
    @import '../../theme/mq';
    @import '../../theme/functions';
    @import 'variables';
    @import 'mediaQueries/main';
}

.wrapper {
  background: brown;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: Tahoma;
  font-size: 40px;
}

h2 {
  font-family: Tahoma;
  font-size: 30px;
}
